
@media (max-width:1550px){
    
}


@media (max-width:1366px){
    .main-banner {
    padding: 100px 0 40px;
    height: 630px;
    }
    .port-slider-div .slick-list.draggable {
    width: 100%;
    } 
    .law-slide-sec {
    height: 600px;
    }
    .bnr-txt h2 {
        font-size: 35px;
    }

    .hd-txt h2 {
        font-size: 40px;
    }

    

}



@media (min-width:320px) and (max-width:767px){
    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

.bnr-mid-img img {
    display: none;
}

.banner-txt h1 {
    font-size: 40px;
}

.banner-txt h1 span {
    font-size: 30px;
}

ul.nav.navbar-nav.navbar-right {
    margin-top: 43px;
    justify-content: center;
}

.banner-btn-st {
    justify-content: center;
    margin-bottom: 20px;
}

.banner-logo {
    display: none;
}

.ranked-col-st {
    margin: 0;
}

.ranked-col-st1 {
    margin: 0;
}

.cta-cntr-img {
    display: none;
}

.cta-txt h2 {
    text-align: center;
    font-size: 40px;
}

.cta-txt h2 span {
    font-size: 30px;
}

.cta-form .form-div {
    width: 100%;
    margin-bottom: 20px;
}

.cta-form form {
    flex-wrap: wrap;
    justify-content: center;
}

.cta-form .form-div {
    margin-right: 0;
}

.cta-sec-big .row img {
    display: none;
}

.cta-txt.hd-txt h2 {
    text-align: center;
}

.cta-txt.hd-txt h4 {
    text-align: center;
}

.cta-txt.hd-txt p {
    text-align: center;
}

.hd-txt h4 {
    text-align: center;
}

.how-work-list ul li {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.how-work-list ul {
    justify-content: center;
}

.how-work {
    text-align: center;
    width: 100%;
}

.how-txt {
    justify-content: center;
}

.footer-sec .row {
    flex-direction: column;
}

.ftr-form-st {
    top: 0;
    width: 100%;
}

.ftr-form-st form {
    width: 100%;
}

.footer-sec .row .col-sm-6 {
    width: 100%;
}

.ftr-txt.hd-txt {
    text-align: center;
}

.ftr-txt.hd-txt h2 {
    text-align: center;
}

.ftr-txt.hd-txt p {
    text-align: center;
    width: 100%;
}
.faq-sec{
    padding: 50px 0;
}
    .bnr-txt h2 {
    font-size: 25px;
    text-align: center;
    }


.logo {
    margin: 0px auto;
    margin-top: 0;
    width: 220px;
}
a.phone-st {
    font-size: 18px;
}
.link_txt.chats {
    text-align: left;
}
.bnr-txt h1 {
    font-size: 30px;
}

.bnr-txt p {
    font-size: 15px;
}

.form-st form {
    flex-direction: column;
    width: 100%;
}

.form-st form input {
    margin-top: 10px;
}
.law-slider-st .slick-list.draggable {
    width: 100%;
}
.ftr-lst-cpy {
    padding: 10px 5px;
}

.main-banner {

        height: auto;
    padding-top: 200px;
    text-align: center;
    overflow: auto;


}


section.main-banner .row {
    display: block;
    align-items: center;
}

.bnr-form-txt {
    margin: 50px 0 0 0;
}


.hd-txt h2 {font-size: 25px;text-align: center;}

.hd-txt p {
    font-size: 15px;
    text-align: center;
}

.btn-sts .get-started {
    font-size: 14px;
}

.liv-cht p {
    font-size: 15px;
}

.law-web-ul ul li {
    width: 100%;
    margin-bottom: 10px;
}

.law-web-sec .col-sm-offset-1.col-sm-11 {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.port-slider-img img {
    width: 100%;
}
.portfolio-sec .row{
    flex-direction: column;
}
.portfolio-sec {
    display: none;
}

.law-web-box {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.law-web-box img {
    position: relative;
    left: 0;
}

.law-web-sec:after {
    z-index: -1;
}

.hd-txt p br {
    display: none;
}

.law-firm-sec {
    height: auto;
}

.law-firm-bx.law-firm-bx-1 {
    margin-top: 10px;
}

.law-firm-bx:hover {
    top: 0;
}

.case-sldier-sec {
    margin-top: 0;
}

.case-side-img {
    margin-top: 20px;
}

.diff-txt.hd-txt {
    margin-top: 30px;
}
.prtnr-logo {
    display: none;
}
.prtnr-txt.hd-txt h2 {
    font-size: 22px;
}

.prtnr-logo {
    display: none;
}

.testi-sec {
    margin-bottom: 0;
    height: auto;
}
.head_top .navbar .navbar-header a.navbar-brand {margin: 0 auto;width: 100%;}

.navbar-toggle {
    display: none;
}
.form-st {
    width: 100%;
}

.main-banner .col-sm-12 {
    width: 100%;
}

.main-banner .col-sm-12 input {
    width: 100%;
}

.form-div-1, .form-div-2, .form-div-3 {
    width: 90%;
    border: 0;
}

.text-center.form-div-btn {
    width: 90%;
}
}